.Contenedorz {
  margin-bottom: 100px;
  padding-bottom: 30px;
  border-bottom: 2px;
}

.Derd {
  color: black;
  top: 455px;
  position: absolute;
  left: 15%;
  transform: translate(-50%, -50%);
}
.Der22d {
  color: black;
  top: 505px;
  position: absolute;
  left: 15%;
  transform: translate(-50%, -50%);
}

