.card-team {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  background-color: #d9d9d9;
  color: black;
  display: flex;
  flex-direction: column;
  height: 17rem;
  width: 200px;
  border-radius: 10px;
}

/* modificando el interior de la tarjeta */
.card__name {
  margin-top: 1px;
  font-size: 1em;
}

.card__image {
  height: 120px;
  width: 100%;
  border-radius: 5%;
  margin-bottom: 20px;
  object-position: center;
  object-fit: fill;
}

.class-header{
  padding: 0px;
  margin: 0px;
}