.Contenedor {
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 2px;

}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

.Centrado {
    text-align: center;
}

.Imagenes-container {
    display: flex;
    justify-content: center;
}

.Imagen {
    margin: auto;
    position: relative;
}

.Imag {
    margin: 0 7px;
}

.carousel-item {
    transform: translateY(0);
    transition: transform 0.01s ease-in-out;

}


.carousel-item.active .carrusel {
    transform: translateY(-80px);
}

.texto1 {
    color: black;
    font-size: 12px;
    padding: 50px;
    left: 20%;
    position: absolute;
    top: 260px;
    margin: 0;
}