.Contenedor {
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 2px;

}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: center;
}

.Centrado {
    text-align: center;
}

.Imagenes-container {
    display: flex;
    justify-content: center;
}

.Imagen {
    margin: auto;
    position: relative;
}

.Imag {
    margin: 0 7px;
}

.carousel-item {
    transform: translateY(0);
    transition: transform 0.01s ease-in-out;

}

.carousel-item.active .carrusel {
    transform: translateY(-80px);
}

.carrusel {
    width: 565px;
    height: 361px;
}

.hseis {
    color: #f35618;

}

.parrafo {

    color: black;
    font-size: 12px;
    left: 0%;
    position: absolute;
    top: 40px;
    justify-content: center;
    align-items: center;
}

.texto1 {

    font-size: 12px;
    padding: -3px;
    left: 20%;
    position: absolute;
    top: 260px;
    margin: 0;
    max-width: 900px;
}

@media (max-width: 767px) {

    /* Aquí puedes definir los estilos para las pantallas de móvil */
    .card-home-direction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-home-margin {
        margin: 20px 0px;
    }

    .container-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 0px;
        margin: px;
        flex-direction: column;
        height: 500px;
    }

    .Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 10vh;
        justify-content: center;
    }

    .Contenedor {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;

    }

    .container-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .texto1 {
        color: black;
        font-size: 9px;
        padding: -2px;
        left: 20%;
        position: absolute;
        top: 260px;
        margin: 0;
        max-width: 900px;
        text-align: justify;
    }
}