.h {
    flex: 1;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 2px ;
  

}

.img {
    width: 55px;
    height: 55px;
    align-content: unsafe;
}
.imgn{
    width: 305px;
    height: 4px;
    margin-right: 159px;
}
.Contenedor {

    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 2px ;
    
}

.content-center{
    

    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 2px ;
    min-height: 100vh;
   
}
