.Contenedorp {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px;
}

.Contain1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

.Contain2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

.Contain3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: center;
}
.Contain4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -80vh;
    justify-content: center;
}
.Contenedorq {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 2px;
}

.hp {
    color: black;
    top: 300px;
    position: absolute;
    left: 17%;
    transform: translate(-50%, -50%);
}

.h-p {
    color: black;
    top: 370px;
    position: absolute;
    left: 20%;
    transform: translate(-50%, -50%);
}

.ip {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 6%;
    width: 20px;
    height: 20px;
    top: 287px;
}

.linea-rp {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 330px;
    left: 6%;
}

.hdos {
    transform: translate(1%, -50%);
    color: black;
}

.texto-pa {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
}

.h-a {
    color: black;
    top: 500px;
    position: absolute;
    left: 19%;
    transform: translate(-50%, -50%);
}

.i-p {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 20px;
    height: 20px;
    top: 488px;
}

.linea-rp1 {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 530px;
    left: 6%;
}

.texto-pe {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    top: 480px;
    position: absolute;
}

.h-e {
    color: black;
    top: 620px;
    position: absolute;
    left: 19%;
    transform: translate(-50%, -50%);
}

.i-q {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 20px;
    height: 20px;
    top: 590px;
}

.linea-rp2 {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 650px;
    left: 6%;
}

.texto-pi {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 14px;
    top: 600px;
    position: absolute;
}

.h-i {
    color: black;
    top: 750px;
    position: absolute;
    left: 19%;
    transform: translate(-50%, -50%);
}

.linea-rp3 {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 775px;
    left: 6%;
}

.texto-p1 {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 14px;
    top: 720px;
    position: absolute;
}

.h-o {
    color: black;
    top: 850px;
    position: absolute;
    left: 17%;
    transform: translate(-50%, -50%);
}

.linea-rp4 {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 875px;
    left: 6%;
}

.texto-p2 {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 14px;
    top: 830px;
    position: absolute;
}