.Contain1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: center;
}

.Contain2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

.Contain3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: center;
}
.Contain4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -80vh;
    justify-content: center;
}

.hp {
    color: black;
    top: 300px;
    position: absolute;
    left: 17%;
    transform: translate(-50%, -50%);
}

.h-p {
    color: black;
    top: 370px;
    position: absolute;
    left: 20%;
    transform: translate(-50%, -50%);
}

.ip {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 6%;
    width: 20px;
    height: 20px;
    top: 287px;
}

.linea-rp {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 330px;
    left: 6%;
}

.hdos {
    transform: translate(1%, -50%);
    color: black;
}

.texto-pa {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
    text-align: justify;
    max-width: 700px;
}

.h-a {
    color: black;
    top: 500px;
    position: absolute;
    left: 19%;
    transform: translate(-50%, -50%);
}

.i-p {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 20px;
    height: 20px;
    top: 488px;
}

.linea-rp1 {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 530px;
    left: 6%;
}

.texto-pe {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;
    top: 480px;
    position: absolute;
    text-align: justify;
    max-width: 700px;
}

.h-e {
    color: black;
    top: 620px;
    position: absolute;
    left: 19%;
    transform: translate(-50%, -50%);
}

.i-q {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 8%;
    width: 20px;
    height: 20px;
    top: 590px;
}

.linea-rp2 {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 650px;
    left: 6%;
}

.texto-pi {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;
    top: 600px;
    position: absolute;
    text-align: justify;
    max-width: 700px;
}

.h-i {
    color: black;
    top: 750px;
    position: absolute;
    left: 19%;
    transform: translate(-50%, -50%);
}

.linea-rp3 {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 775px;
    left: 6%;
}

.texto-p1 {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;
    top: 720px;
    position: absolute;
    text-align: justify;
    max-width: 700px;
}

.h-o {
    color: black;
    top: 850px;
    position: absolute;
    left: 17%;
    transform: translate(-50%, -50%);
}

.linea-rp4 {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 875px;
    left: 6%;
}

.texto-p2 {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;
    top: 830px;
    position: absolute;
    text-align: justify;
    max-width: 700px;
}
.h-u {
    color: black;
    top: 950px;
    position: absolute;
    left: 18%;
    transform: translate(-50%, -50%);
}

.linea-rp5 {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 975px;
    left: 6%;
}

.texto-p3 {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;
    top: 930px;
    position: absolute;
    text-align: justify;
    max-width: 700px;
}
.h-1 {
    color: black;
    top: 1050px;
    position: absolute;
    left: 17%;
    transform: translate(-50%, -50%);
}

.linea-rp6 {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 1075px;
    left: 6%;
}

.texto-p4 {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;
    top: 1030px;
    position: absolute;
    text-align: justify;
    max-width: 700px;
    
}

.h-2 {
    color: black;
    top: 1150px;
    position: absolute;
    left: 17%;
    transform: translate(-50%, -50%);
}

.linea-rp7 {
    height: 2px;
    background-color: #f35618;
    width: 255px;
    position: absolute;
    top: 1175px;
    left: 6%;
}

.texto-p5 {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px;
    top: 1130px;
    position: absolute;
    text-align: justify;
    max-width: 700px;
}
@media (max-width: 1150px) {
    /* estilos para las pantallas de móvil */
    
    /*contain1*/
    .Contain1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: 60%;
        padding: 0px;
        margin: 0px;
    }
    .hp,
    .h-p{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: 0px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;
    }
    .linea-rp{
        position: relative;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 2px;
        top: 12px;;
        display: flex;
        justify-content: center;
        flex-direction: column; 
    }
    .ip{
        position: relative;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 20px;
        top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .hdos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: 0px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px; 
    }
    .texto-pa{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: 0px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;   
        text-align: justify;
    }
    /*contain2*/
    .Contain2{
        display: flex;
        position: relative;
        height: 70px;
        justify-content: center;
        align-items: center;
    }
    .h-a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: 0px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;  
    }
    .linea-rp1{
        position: relative;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 2px;
        top: 5px;;
        display: flex;
        justify-content: center;
        flex-direction: column; 
    }
    .texto-pe{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: 17px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;  
        text-align: justify; 
    }
    /*contain3*/
    .Contain3{
        margin-top: -105px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
    }
    .h-e{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: 0px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;  
    }
    .linea-rp2{
    position: relative;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 2px;
    top: 5px;;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    }
    .texto-pi{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: -100px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px; 
        text-align: justify;    
    }
    .h-i{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: -80px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;  
    }
    .linea-rp3{
        position: relative;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 2px;
        top: -70px;;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .texto-p1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: -180px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px; 
        text-align: justify;
    }
    /*contain4*/
    .Contain4{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
    }  
    .h-o{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: -157px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;   
    }
    .linea-rp4{
        position: relative;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 2px;
        top: -145px;;
        display: flex;
        justify-content: center;
        flex-direction: column;  
    }
    .texto-p2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: -125px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;  
        text-align: justify;
    }
    .h-u{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: -130px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;   
    }
    .linea-rp5{
        position: relative;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 2px;
        top: -120px;;
        display: flex;
        justify-content: center;
        flex-direction: column;   
    }
    .texto-p3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: -100px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;  
        text-align: justify;
    }
    .h-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: -99px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;  
    }
    .linea-rp6{
        position: relative;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 2px;
        top: -92px;;
        display: flex;
        justify-content: center;
        flex-direction: column;     
    }
    .texto-p4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: -80px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;  
        text-align: justify;
    }
    .h-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: -80px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;  
    }
    .linea-rp7{
        position: relative;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 2px;
        top: -72px;;
        display: flex;
        justify-content: center;
        flex-direction: column;     
    }
    .texto-p5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: -50px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;  
        text-align: justify;
    }
    }

