.Contdor {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px;
}

.Contenedori {
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

.container-d {
    display: flex;
    position: relative;
    height: 50vh;
    margin-top: 30px;
}

.container-r {
    margin-top: 120px;
}

.container-j {
    margin-top: 30px;
}

.imagen {
    justify-content: center;
}

.um {

    justify-content: center;
    margin-left: auto;
    top: 1230px;
    left: 79%;
    position: absolute;
}

.container-a {
    display: flex;
    height: 20vh;
}


.Der {
    color: black;
    top: 455px;
    position: absolute;
    left: 16%;
    transform: translate(-50%, -50%);
}

.Der229 {
    color: black;
    top: 505px;
    position: absolute;
    left: 12%;
    transform: translate(-50%, -50%);
}

.i11d {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 20px;
    height: 20px;
    top: 440px;
}

.linea-recta11d {
    height: 2px;
    background-color: #f35618;
    width: 275px;
    position: absolute;
    top: 480px;
    left: 1%;
}

.Imagene {
    margin-left: auto;
}

.Imagenes-container {
    display: flex;

}

.in {
    position: absolute;
    bottom: 0;
    left: 63%;
    width: 20px;
    height: 20px;
    top: 255px;

}

.ha {
    position: absolute;
    bottom: 0;
    left: 65%;
    top: 253px;
    color: black;

}

.Imagen {
    margin: auto;
    position: relative;
}

.Imag {
    margin: 0 7px;
    margin-top: 20px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 50px solid hsl(0, 3%, 70%);
    text-align: left;
    margin-top: 3px;
}

.trianglen {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid hsl(0, 3%, 70%);
    left: 41%;
    margin-top: 30px;
    position: absolute;
}

.trianglene {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid hsl(0, 3%, 70%);
    left: 46%;
    margin-top: 145px;
    position: absolute;
}

.container-s {
    display: flex;
    position: relative;
    height: 10vh;
}

.container-i {
    display: flex;
    position: relative;
    height: 2vh;
}

.linea {
    display: flex;
    align-items: flex-end;


}

.linea-diagonalpr {
    width: 2px;
    height: 89px;
    background-color: #f35618;
    transform: rotate(-35deg);
    left: 0;

}
.linea-diagonalpri {
    width: 2px;
    height: 89px;
    background-color: #f35618;
    transform: rotate(-35deg);
    left: 0;

}

.linea-diagonali {
    width: 2px;
    height: 52px;
    background-color: #f35618;
    transform: rotate(-33deg);
    top: 924px;
    left: 44%;
    position: absolute;
}

.linea-diagonalin {
    width: 2px;
    height: 65px;
    background-color: #f35618;
    transform: rotate(-35deg);
    top: 1020px;
    left: 46.5%;
    position: absolute;
}

.linea-d {
    width: 2px;
    height: 65px;
    background-color: #f35618;
    transform: rotate(-35deg);
    top: 1145px;
    left: 46.5%;
    position: absolute;
}

.linea-ds {
    width: 2px;
    height: 65px;
    background-color: #f35618;
    transform: rotate(-35deg);
    top: 1268px;
    left: 46.5%;
    position: absolute;
}

.linea-diagonala {
    width: 2px;
    height: 80px;
    background-color: #f35618;
    transform: rotate(-35deg);
    position: absolute;
    top: 793px;
    left: 39%;
}

.linea-rectapr {

    height: 2px;
    background-color: #f35618;
    width: 328px;
    position: absolute;
    top: 55px;
    left: 22%;
}

.linea-rectas {
    height: 2px;
    background-color: #f35618;
    width: 380px;
    position: absolute;
    top: 865px;
    left: 40.7%;
}

.im {
    position: absolute;
    bottom: 0;
    left: 22%;
    width: 20px;
    height: 20px;
    top: -22px;
}

.linea-rectpr {
    margin-top: -59px;
    height: 2px;
    background-color: #f35618;
    width: 329px;
    position: absolute;
    top: 64px;
    left: 22.5%;
}

.container-b {
    display: flex;
    height: 12vh;


}

.triangulo {
    width: 0;
    height: 10vh;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 50px solid rgb(155, 150, 148);

}

.linea-dia {
    width: 2px;
    height: 89px;
    background-color: #f35618;
    transform: rotate(-38deg);
    position: absolute;
    top: 204px;
    left: 59%;
}

.linea-re {
    height: 2px;
    background-color: #f35618;
    width: 425px;
    position: absolute;
    left: 61%;
    align-items: flex-start;
    top: 282px;
}

.linea-rec {
    height: 2px;
    background-color: #f35618;
    width: 425px;
    position: absolute;
    left: 61%;
    align-items: flex-start;
    top: 667px;
}

.ini {
    position: absolute;
    bottom: 0;
    left: 63%;
    width: 20px;
    height: 20px;
    top: 634px;
}

.init {
    position: absolute;
    bottom: 0;
    left: 63%;
    width: 20px;
    height: 20px;
    top: 555px;
}

.hb {
    position: absolute;
    bottom: 0;
    left: 65%;
    top: 634px;
    color: black;
}

.ho {
    position: absolute;
    bottom: 0;
    left: 65%;
    top: 557px;
    color: black;
}

.i {
    position: absolute;
    bottom: 0;
    left: 22%;
    width: 20px;
    height: 20px;
    top: 30px;
}

.io {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    top: 840px;
    left: 41%;
}

.trianglo {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 50px solid hsl(0, 3%, 70%);
    margin-top: -50px;
}

.linea-dianpr {
    width: 2px;
    height: 89px;
    background-color: #f35618;
    transform: rotate(-38deg);
    top: 520px;
    left: 59.3%;
    position: absolute;
}

.linea-recipro {
    height: 2px;
    background-color: #f35618;
    width: 425px;
    position: absolute;
    left: 61.4%;
    align-items: flex-start;
    top: 598px;
}

.triangulon {
    width: 0;
    height: 10vh;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 50px solid rgb(155, 150, 148);
    margin-top: 250;
}

.h {
    position: absolute;
    top: 30px;
    height: 35px;
    color: black;
    left: 28%;
}

.hu {
    position: absolute;
    top: 840px;
    left: 43%;
    height: 40px;
    color: black
}

.vertical {
    width: 2px;
    height: 302px;
    background-color: #f35618;
    top: 972px;
    left: 45.1%;
    position: absolute;

}

.hj {
    position: absolute;
    bottom: 0;
    top: -22px;
    margin-left: 48px;
    height: 40px;
    color: black
}

.texto {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
    text-align: justify;
}

.texton {
    color: black;
    font-size: 12px;
    left: 83%;
    position: absolute;
    top: 1200px;
    margin: 0;
    text-align: justify;
}

.textou {
    color: black;
    font-size: 12px;
    padding: 350px;
    left: 24%;
    position: absolute;
    top: 710px;
    margin: 0;
    text-align: justify;
}

.text {
    color: black;
    font-size: 12px;
    padding: 350px;
    left: 24%;
    position: absolute;
    top: 840px;
    margin: 0;
    text-align: justify;
}

.texti {
    color: black;
    font-size: 12px;
    padding: 350px;
    left: 24%;
    position: absolute;
    top: 950px;
    margin: 0;
    text-align: justify;
}

.outer-triangle {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(155, 150, 148);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 38%;
    top: 146px;
}

.outer-trianglen {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(155, 150, 148);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 38%;
    top: 220px;
}

.outer-triangleno {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(155, 150, 148);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 38%;
    top: 294px;
}

.inner-triangle {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: #f35618;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* responsive section about us */
@media (max-width: 1150px) {

    /* Aquí puedes definir los estilos para las pantallas de móvil */
    /* seccion contenedor */
    .query-container-aboutus {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    .Contenedor {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* seccion sobre sennovalab e informacion general */
    .query-box1-aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .query-col1-aboutus {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        height: 200px;
    }

    .Container3 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: 10%;
        padding: 0px;
        margin: 0px;
    }

    .Der,
    .Der229 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        top: 0px;
        position: relative;
        left: 0px;
        transform: none;
        padding: 0px;
    }

    .i11d {
        position: relative;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 20px;
        top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .col-sm-1,
    .col-md-3 {
        display: none;
    }

    .container-s {
        display: flex;
        position: relative;
        height: 70px;
        justify-content: center;
        align-items: center;
    }

    .linea {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .i {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 20px;
        top: 0;
    }

    .h {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        position: relative;
        width: 100px;
        height: 60px;
        left: 0;
    }

    .query-div-texto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .texto {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: justify;
    }

    /* seccion de descripcion */
    .query-description-aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container-a {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
    }

    .ha {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 0;
        left: 0px;
        top: 0;
    }

    .in {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 0;
        left: 0px;
        width: 20px;
        height: 20px;
        top: 0;
    }

    .query-text-descript-abouts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0px;
    }

    /* mision y vision */
    .query-box2-aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .container-i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100px;
    }

    .hj {
        position: relative;
        bottom: 0;
        top: 0px;
        margin-left: 0px;
        height: 40px;
    }

    .query-text-descript2-abouts {
        display: flex;
    }

    .init {
        position: relative;
        bottom: 0;
        left: 0px;
        width: 20px;
        height: 20px;
        top: 0px;
    }

    .ho {
        position: relative;
        bottom: 0px;
        left: 0px;
        top: 0px;
    }

    .container-b {
        display: flex;
        height: 12vh;
        justify-content: center;
    }

    .im {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        bottom: 0px;
        left: 0px;
        width: 20px;
        height: 20px;
        top: 0px;
    }

    /* objetivo */
    .query-box3-aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        flex-direction: column;
        margin: 20px 0px;
        font-size: 12px;
    }

    .container-j {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 20px 0px;
        font-size: 12px;
    }

    .textou {
        display: flex;
        justify-content: center;
        font-size: 12px;
        padding: 20px auto;
        left: 0px;
        position: relative;
        top: 0px;
        margin: 0px;
        width: 90%;
    }

    .query-flex-object {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .texti,
    .text {
        display: flex;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        left: 0px;
        margin: 0px;
        padding: auto;
        position: relative;
        top: 0px;
        width: 90%;
    }

    .hu {
        position: relative;
        top: 0px;
        left: 0px;
        height: 40px;
        color: black
    }

    .io {
        position: relative;
        bottom: 0;
        width: 20px;
        height: 20px;
        top: 0px;
        left: 0px;
    }

    .query-box4-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: justify;
        position: relative;
        left: 0px;
        top: 0px;
        padding: 10px;
        font-size: 12px;
    }

    /* portafolio */
    .container-r {
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .texton {
        font-size: 12px;
        left: 0px;
        position: relative;
        top: 0px;
        margin: 0px;
    }

    .query-hportfolio-aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .um {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-top: 20px;
        top: 0px;
        left: 0px;
        position: relative;
    }

    .contain-query-flex-about {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .query-portf-about {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Contenedori {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 1300px) {

    /* Aquí puedes definir los estilos para las pantallas de móvil */
    .linea-recta11d,
    .linea-dia,
    .linea-re,
    .linea-diagonal,
    .linea-recta,
    .linea-rect,
    .linea-dian,
    .linea-reci,
    .linea-diagonala,
    .linea-rectas,
    .linea-diagonali,
    .vertical,
    .linea-diagonali,
    .linea-diagonalin,
    .linea-d,
    .linea-ds,
    .triangle,
    .triangulo,
    .trianglo,
    .triangulon,
    .triangle,
    .trianglen,
    .outer-triangle,
    .inner-triangle,
    .outer-trianglen,
    .outer-triangleno {
        display: none;
    }
}