.Contenedor {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px;
}

.Contenedori {
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: center;
}

.container-d {
    display: flex;
    position: relative;
    height: 50vh;
    margin-top: 30px;
}

.container-r {
    margin-top: 120px;
}

.container-j {
    margin-top: 40px;
}

.imagen {
    justify-content: center;
}

.um{

 justify-content: center;
 margin-left: auto;
 top: 1350px;
 left: 83%;
 position: absolute;
}

.container-a {
    display: flex;
    height: 20vh;
}


.Der {
    margin-left: auto;
}

.Imagene {
    margin-left: auto;
}

.Imagenes-container {
    display: flex;

}

.in {
    position: absolute;
    bottom: 0;
    left: 63%;
    width: 20px;
    height: 20px;
    top: 305px;

}

.ha {
    position: absolute;
    bottom: 0;
    left: 65%;
    top: 305px;
    color: black;

}

.Imagen {
    margin: auto;
    position: relative;
}

.Imag {
    margin: 0 7px;
    margin-top: 20px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 50px solid hsl(0, 3%, 70%);
    text-align: left;
    margin-top: 3px;
}

.trianglen {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid hsl(0, 3%, 70%);
    left: 41%;
    margin-top: 30px;
    position: absolute;
}

.trianglene {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid hsl(0, 3%, 70%);
    left: 46%;
    margin-top: 145px;
    position: absolute;
}

.container-s {
    display: flex;
    position: relative;
    height: 10vh;
}

.container-i {
    display: flex;
    position: relative;
    height: 2vh;
}

.linea {
    display: flex;
    align-items: flex-end;


}

.linea-diagonal {
    width: 2px;
    height: 72px;
    background-color: #f35618;
    transform: rotate(-35deg);
    left: 43%;
}

.linea-diagonali {
    width: 2px;
    height: 52px;
    background-color: #f35618;
    transform: rotate(-33deg);
    top: 979px;
    left: 44%;
    position: absolute;
}

.linea-diagonalin {
    width: 2px;
    height: 65px;
    background-color: #f35618;
    transform: rotate(-35deg);
    top: 1070px;
    left: 46.5%;
    position: absolute;
}

.linea-d {
    width: 2px;
    height: 65px;
    background-color: #f35618;
    transform: rotate(-35deg);
    top: 1190px;
    left: 46.5%;
    position: absolute;
}

.linea-ds {
    width: 2px;
    height: 65px;
    background-color: #f35618;
    transform: rotate(-35deg);
    top: 1320px;
    left: 46.5%;
    position: absolute;
}

.linea-diagonala {
    width: 2px;
    height: 80px;
    background-color: #f35618;
    transform: rotate(-35deg);
    position: absolute;
    top: 850px;
    left: 39%;
}

.linea-recta {

    height: 2px;
    background-color: #f35618;
    width: 331px;
    position: absolute;
    top: 55px;
    left: 21%;
}

.linea-rectas {
    height: 2px;
    background-color: #f35618;
    width: 380px;
    position: absolute;
    top: 921px;
    left: 40.7%;
}

.im {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 20px;
    height: 20px;
    top: -25px;
}

.linea-rect {
    margin-top: -59px;
    height: 2px;
    background-color: #f35618;
    width: 331px;
    position: absolute;
    top: 64px;
    left: 21%;
}

.container-b {
    display: flex;
    height: 12vh;


}

.triangulo {
    width: 0;
    height: 10vh;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 50px solid rgb(155, 150, 148);

}

.linea-dia {
    width: 2px;
    height: 89px;
    background-color: #f35618;
    transform: rotate(-38deg);
    position: absolute;
    top: 258px;
    left: 59%;
}

.linea-re {
    height: 2px;
    background-color: #f35618;
    width: 425px;
    position: absolute;
    left: 61%;
    align-items: flex-start;
    top: 336px;
}

.linea-rec {
    height: 2px;
    background-color: #f35618;
    width: 425px;
    position: absolute;
    left: 61%;
    align-items: flex-start;
    top: 667px;
}

.ini {
    position: absolute;
    bottom: 0;
    left: 63%;
    width: 20px;
    height: 20px;
    top: 634px;
}

.init {
    position: absolute;
    bottom: 0;
    left: 63%;
    width: 20px;
    height: 20px;
    top: 612px;
}

.hb {
    position: absolute;
    bottom: 0;
    left: 65%;
    top: 634px;
    color: black;
}

.ho {
    position: absolute;
    bottom: 0;
    left: 65%;
    top: 614px;
    color: black;
}

.i {
    position: absolute;
    bottom: 0;
    left: 22%;
    width: 20px;
    height: 20px;
    top: 30px;
}

.io {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    top: 890px;
    left: 41%;
}

.trianglo {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 50px solid hsl(0, 3%, 70%);
    margin-top: -50px;
}

.linea-dian {
    width: 2px;
    height: 89px;
    background-color: #f35618;
    transform: rotate(-38deg);
    top: 561px;
    left: 59%;
    position: absolute;
}

.linea-reci {
    height: 2px;
    background-color: #f35618;
    width: 425px;
    position: absolute;
    left: 61%;
    align-items: flex-start;
    top: 639px;
}

.triangulon {
    width: 0;
    height: 10vh;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 50px solid rgb(155, 150, 148);
    margin-top: 250;
}

.h {
    position: absolute;
    bottom: 0;
    top: -10px;
    margin-left: 48px;
    height: 40px;
    color: black
}

.hu {
    position: absolute;
    bottom: 0;
    top: 890px;
    left: 43%;
    height: 40px;
    color: black
}

.vertical {
    width: 2px;
    height: 302px;
    background-color: #f35618;
    top: 1025px;
    left: 45.1%;
    position: absolute;

}

.hj {
    position: absolute;
    bottom: 0;
    top: -25px;
    margin-left: 48px;
    height: 40px;
    color: black
}

.texto {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
}
.texton{
    color: black;
    font-size: 12px;
    left: 80%;
    position: absolute;
    top: 1320px;
    margin: 0;  
}
.textou {
    color: black;
    font-size: 12px;
    padding: 350px;
    left: 24%;
    position: absolute;
    top: 780px;
    margin: 0;
}

.text {
    color: black;
    font-size: 12px;
    padding: 350px;
    left: 24%;
    position: absolute;
    top: 900px;
    margin: 0;
}
.texti {
    color: black;
    font-size: 12px;
    padding: 350px;
    left: 24%;
    position: absolute;
    top: 1025px;
    margin: 0;
}

.outer-triangle {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(155, 150, 148);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 38%;
    top: 146px;
}

.outer-trianglen {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(155, 150, 148);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 38%;
    top: 220px;
}

.outer-triangleno {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(155, 150, 148);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 38%;
    top: 294px;
}

.inner-triangle {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: #f35618;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}